* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 5% auto;
    width: 500px;
    height: auto;
    /*border: 1px solid red;*/
}

.main {
    border: 2px solid grey;
    padding: 0 40px;
    position: relative;
    /*text-align: center;*/
}
.name {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #2e65ff;
    text-decoration: underline;
    font-size: 60px;
}







