* {
    margin: 0;
    padding: 0;
}
body {
    background: #efefef;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: inherit;
}
.items {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    margin: 30px;
    color: #3a4d5c;
    /*background: #efefef;*/
    /*border: 1px solid blue;*/
}
.itemsLeft {
    /*display: flex;*/
    background: #37b0ae;
    margin-top: 60px;
    width: 465px;
    height: 610px;
    position: relative;
    /*border: 1px solid red;*/

}
.itemsLeft__logo {
    margin-top: 25px;
    margin-left: 25px;
}
.shadow {
    position: absolute;
    left: -10px;
    top: 350px;
    width: 100%;
    /*z-index: auto;*/
}
.itemsLeft__camera {
    /*position: absolute;*/
    /*left: -40px;*/
    /*top: 80px;*/
    width: 100%;
    margin: 30px 0 0 -55px;
    /*z-index: 100;*/
}
.itemsLeft__logo .shadow .itemsLeft__camera img {
    /*max-width: 90%;*/
    /*width: 200px;*/
    /*height: auto;*/
}
.itemMidle {
    position: absolute;
    right: -55px;
    top: 150px;
    /*border: 1px solid red;*/
}
.midle {
    background: rgba(255, 255, 255, 0.51);
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
    text-align: center;
}
.midle img {
    margin-top: 10px;
    /*width: 100px;*/
    /*height: 100px;*/
    /*object-fit: cover;*/
}
.itemsRight {
    background: white;
    /*width: 545px;*/
    /*height: 700px;*/
    padding: 70px 0 0 80px;
    text-transform: uppercase;
    /*border: 1px solid green;*/
}
.itemsRight h2 {
    margin-top: 15px;
}
.itemsRight h3 {
    margin-top: 40px;
}
.features {
    text-transform: none;
    /*border: 1px solid red;*/
}
.features li {
    padding-top: 10px;
    margin-left: 20px;
    list-style: square outside;
    color: #37b0ae;
}
.features li span  {
    color: #3a4d5c;
}
.stock {
    display: flex;
    list-style: none;
    margin: 40px 0 0;
    /*text-transform: uppercase;*/
    /*border: 1px solid red;*/
}
.stock a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3a4d5c;
}
.stock li {
    margin-top: 15px;
    padding-right: 20px;
}
.quantityTop {
    margin-top: 25px;
}
.quantity {
    display: flex;
    /*margin-top: 20px;*/
    text-transform: uppercase;
    /*border: 1px solid red;*/
}
.quantity__item {
    width: 40px;
    margin-top: 10px;
    text-align: center;
    padding: 10px 8px;
    border: 1px solid grey;
}
.quantity__item--border {
    border-left: none;
}
.price {
    display: flex;
    margin-top: 25px;
    align-items: flex-end;
    /*border: 1px solid red;*/
}
.priceNew {
    text-transform: none;
    font-size: 28px;
    font-weight: bold;
}
.priceOld {
    margin-left: 15px;
    text-transform: none;
    font-size: 12px;
    vertical-align: baseline;
}

.button {
    display: flex;
    margin-top: 35px;
    padding: 15px auto;

    /*width: 200px;*/
    /*background: #efefef;*/
}
.button__left {
    background: #37b0ae;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #37b0ae;
    text-transform: none;
}
.button__right {
    margin: 0 80px 70px 15px;
    border: 1px solid grey;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
}

.button__left:hover {
    border: 1px solid grey;
    cursor: pointer;
}
.button__right:hover {
    border: 1px solid #37b0ae;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .items {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .itemsLeft {
        margin-top: 20px;
        width: 625px;
        height: 750px;
    }
    .itemsLeft__logo {
        margin: 25px;
        display: block;
    }
    .shadow {
        left: 90px;
        top: 350px;
        /*margin: 20px;*/
        width: 80%;
    }
    .itemsLeft__camera {
        margin: 10px 0 0 70px;
        width: 80%;
    }
    .shadow .itemsLeft__camera img {
        /*max-width: 100%;*/
        /*height: auto;*/
    }
    .itemMidle {
        left: 0;
        top: 600px;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        /*border: 1px solid red;*/
    }
    .midle {
        margin: 10px;
    }
    .itemsRight {
        width: 605px;
        height: auto;
        padding: 50px 0 50px 20px;
    }
    .button__right {
        margin: 0 30px 30px 15px;
    }
}
@media screen and (max-width: 650px) {
    .itemsLeft {
        width: 100%;
        /*height: calc(auto+200px);*/
    }
    .shadow {
        top: 300px;
    }
    .itemsLeft__camera {
        margin: 10px;
    }
    .itemMidle {
        top: 600px;
    }
    .midle {
        margin: 5px;
    }
    .itemsRight {
        width: 95%;
        padding-left: 20px ;
        /*margin: 20px;*/
    }
}
@media screen and (max-width: 450px) {
    .itemsLeft {
        height: 550px;
    }
    .shadow {
        left: 50px;
    }
    .itemMidle {
        top: 420px;
    }
    .itemsRight {
        width: 93%;
    }
}