@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

img {
  width: 100%;
  height: auto; }

ul, li {
  list-style-type: none; }

.siteSection {
  background: url("../img/bg1_2.jpg") no-repeat center top/cover;
  /*height: 670px;*/ }

.siteSectionOverlay {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)); }

.container {
  max-width: 960px;
  /*height: 100%;*/
  height: auto;
  padding: 70px 10px;
  margin: 0 auto; }

.container-header {
  padding-top: 15px; }

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border: 1px solid #18ff0a;*/ }

.mainHeader__logo {
  /*width: 130px;*/
  /*height: 50px;*/
  /*margin: 0 10px;*/ }

.mainNav__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.mainNav__item {
  padding: 0 10px; }

.mainNav__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  transition: color .3s; }

.mainNav__item a:hover {
  color: #00e0d0; }

.mainNav__item-active a {
  color: #00e0d0; }

.slider__item {
  text-align: center; }

.mainTitle {
  margin-top: 160px;
  font-size: 32px;
  color: #fff;
  font-family: Playfair Display, sans-serif; }

.separator {
  width: 50px;
  border: 1px solid #00e0d0;
  margin: 25px auto 30px auto; }

.innerContent {
  margin: 0 70px;
  font-size: 14px;
  font-family: Roboto, serif; }

.innerContent_white {
  color: white; }

.button {
  width: 120px;
  padding: 10px 0;
  border: 2px solid #00e0d0;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #00e0d0;
  font-size: 16px;
  font-weight: bold;
  background: none; }

.mainButton {
  margin: 50px auto 0 auto; }

.button:hover {
  color: #fff;
  background-color: #00e0d0;
  border: 2px solid white; }

.sliderDotted {
  display: flex;
  justify-content: center;
  margin-top: 125px; }

.sliderDotted__item {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 2px;
  /*background: #00E0D0;*/ }

.sliderDotted__item-active {
  width: 12px;
  height: 12px;
  background: #00e0d0;
  border: 2px solid #00e0d0;
  border-radius: 50%;
  margin: 0 2px; }

/*block2*/
.siteSectionAbout {
  /*height: 405px;*/ }

.mainHeaderAbout {
  display: flex;
  align-items: start;
  /*border: 1px dashed red;*/ }

.mainAbout__left {
  max-width: 400px;
  min-width: 235px;
  margin: 0 auto; }

.mainAbout__right {
  margin: 0 10px;
  max-width: 560px;
  /*border: 1px solid red;*/ }

.title {
  margin-bottom: 25px;
  color: #413d4b;
  text-transform: uppercase;
  font-size: 22px;
  font-family: Playfair Display, sans-serif;
  font-weight: bold;
  /*border: 1px solid red;*/ }

.innerContent_black {
  color: #2f2d35;
  margin: 0;
  /*border: 1px solid #7a4dff;*/ }

.innerContent_black p {
  /*?*/
  margin-bottom: 35px;
  font-size: 14px; }

/*media*/
.siteSectionVideo {
  background: url("../img/bg_video.jpg") no-repeat center top/cover;
  /*height: 550px;*/ }

.containerVideo {
  display: flex;
  align-items: center;
  justify-content: center; }

.video__items {
  margin: 130px auto; }

.video__item {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /*border: 1px dashed red;*/ }

.innerContentVideo {
  text-transform: uppercase;
  padding-top: 30px;
  /*border: 1px dashed red;*/
  font-size: 16px; }

/*bbbbb*/
/*block3*/
.mainExpertiseTitle {
  margin: 0 auto;
  text-align: center;
  /*border: 1px dashed red*/ }

.separator_grey {
  border: 1px solid gray; }

.mainExpertise__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 960px; }

.expertise__item {
  min-width: 175px;
  max-width: 280px;
  /*height: 175px;*/
  min-height: 175px;
  /*max-height: 400px;*/
  padding: 35px 20px;
  text-align: center;
  /*border: 1px solid grey;*/
  /*border-right: 1px solid gray;*/ }

.expertise__item:nth-child(1) {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey; }

.expertise__item:nth-child(2) {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey; }

.expertise__item:nth-child(3) {
  border-bottom: 1px solid grey; }

.expertise__item:nth-child(4) {
  border-right: 1px solid grey; }

.expertise__item:nth-child(5) {
  border-right: 1px solid grey; }

.expertise__item:nth-child(6) {
  border: none; }

.expertise__item img {
  /*width: 50px;*/
  width: auto;
  height: 50px;
  margin-bottom: 35px; }

.titleExpertiseItem {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 25px; }

.expertise__item p {
  font-size: 14px;
  color: #333333; }

.siteSectionTeam {
  color: white; }

.team__title {
  text-align: center; }
  .team__title .title-white {
    color: white; }

.team__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .team__items .team__items1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 465px; }
    .team__items .team__items1 .team__item {
      border: 1px solid grey;
      flex-basis: 220px;
      text-align: center;
      margin: 5px; }
      .team__items .team__items1 .team__item .teamItemImg {
        width: 220px;
        height: 230px;
        background: white; }
      .team__items .team__items1 .team__item .teamItemText {
        padding: 25px; }

.teamItemText_bold {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white; }

.teamItemText_size {
  font-size: 13px;
  color: #fafafa; }

.team__bottom {
  padding-top: 70px;
  text-align: center; }
  .team__bottom p {
    padding-bottom: 30px;
    color: #f3f3f3; }

.buttonTeam {
  width: 140px; }

.works__top {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 70px 10px; }
  .works__top .title {
    margin-bottom: 0; }
  .works__top .innerContent {
    margin-bottom: 0; }

.fa-angle-right {
  font-size: 20px; }

.works__center {
  max-width: 1650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto; }

.works__item {
  max-width: 16vw;
  height: auto;
  min-width: 280px; }
  .works__item .workImg {
    width: 100%;
    height: 100%; }

.container-works {
  text-align: center; }
  .container-works .button-works {
    margin: 0 auto; }

.siteSectionTestimonials .mainTitle {
  margin-top: 0;
  margin-bottom: -30px;
  font-size: 100px;
  font-family: Playfair Display, serif; }

.siteSectionTestimonials .innerContent {
  margin: 0 10px 50px; }

.siteSectionTestimonials .sliderDotted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }
  .siteSectionTestimonials .sliderDotted .sliderText {
    color: white; }
    .siteSectionTestimonials .sliderDotted .sliderText .fas {
      font-size: 20px; }
  .siteSectionTestimonials .sliderDotted .sliderDotted__item {
    width: 45px;
    height: auto;
    border: none;
    margin: 0 10px; }
  .siteSectionTestimonials .sliderDotted .sliderDotted__item-active {
    width: 70px;
    height: auto;
    background: none;
    border: none;
    margin: 0 10px; }

.containerContact {
  display: flex; }

.contact__left {
  width: 59%; }

.titleContact {
  font-size: 22px; }

.contact__form .form {
  display: block;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 1px solid grey;
  padding: 10px;
  width: 90%; }

.contact__form .formArea {
  height: 200px; }

.contact__form .buttonContact {
  margin-left: 0;
  margin-top: 20px; }

.contact__right {
  width: 39%; }

.contact__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*align-items: center;*/
  /*width: 150px;*/ }

.contact__item {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center; }

.contact__item img {
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 30px; }

.siteSectionFooter {
  background: url("../img/bg_footer.jpg") no-repeat center top/cover;
  /*height: 400px;*/ }

.footer__items {
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap; }

.footer__left {
  /*width: 33%;*/
  max-width: 33%;
  padding-right: 20px; }

.footerLogo {
  width: 135px;
  height: auto; }

.footer__left p {
  padding-top: 20px;
  font-size: 14px; }

.footer__center {
  max-width: 33%; }

.titleFooter {
  color: white;
  font-size: 15px;
  padding-top: 20px; }

.addressItems {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px; }

.addressItem {
  padding-right: 10px;
  /*padding-bottom: 10px;*/ }

.addressItem p {
  font-size: 14px; }

.phoneItems {
  display: flex; }

.phoneItem {
  padding-right: 10px; }

.phoneItem p {
  font-size: 14px; }

.footer__right {
  max-width: 33%; }

.footer__form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
  .footer__form label {
    max-width: 70%; }

.footer__form input {
  max-width: 95%;
  height: 35px;
  font-size: 14px;
  color: white;
  border: 1px solid grey;
  margin-right: 10px;
  background: none; }

.subscribe {
  padding: 0 15px;
  font-size: 25px;
  align-items: center;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.5);
  /*border: 10px solid white;*/ }

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25px; }
  .socials .socials2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 80px; }

.socials__img {
  max-width: 35px;
  margin: 5px auto;
  flex-basis: 40px; }

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 65px; }

.copyright__left {
  display: flex;
  flex-wrap: wrap; }

.titleCopyright {
  font-size: 14px;
  padding-right: 30px;
  font-family: sans-serif;
  text-transform: none;
  color: white; }

/*media 828, 558*/
@media screen and (max-width: 856px) {
  .expertise__item:nth-child(1) {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey; }
  .expertise__item:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid grey; }
  .expertise__item:nth-child(3) {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey; }
  .expertise__item:nth-child(4) {
    border-right: none;
    border-bottom: 1px solid grey; }
  .expertise__item:nth-child(5) {
    border-right: 1px solid grey;
    border-bottom: none; } }

@media screen and (max-width: 578px) {
  .expertise__item:nth-child(n+1) {
    border-right: none;
    border-bottom: 1px solid grey; }
  .expertise__item:nth-child(6) {
    border-bottom: none; } }

@media screen and (max-width: 700px) {
  .container {
    padding-bottom: 50px; }
  .mainHeader {
    flex-direction: column; }
  .mainNav {
    padding-top: 15px; }
  .mainNav__item {
    padding-top: 10px; }
  .mainTitle {
    margin-top: 100px;
    font-size: 24px; }
  .innerContent {
    margin: 0 20px; }
  .button {
    /*margin: 30px;*/ }
  .containerAbout {
    margin: 0; }
  .mainAbout__right {
    max-width: none;
    /*width: 95%;*/
    margin: 0 auto; }
  .titleAbout {
    padding-top: 10px;
    text-align: center;
    justify-content: center; }
  .buttonAbout {
    display: block;
    margin: 0 auto; } }

@media screen and (max-width: 650px) {
  .titleCopyright {
    padding-right: 15px; } }

@media screen and (max-width: 540px) {
  .container {
    padding-bottom: 15px; }
  .mainHeader {
    flex-direction: column; }
  .mainNav {
    padding-top: 10px; }
  .mainNav__items {
    flex-direction: column; }
  .mainNav__item {
    padding-top: 10px; }
  .mainTitle {
    margin-top: 20px; }
  .separator {
    margin: 10px auto 15px auto; }
  .innerContent {
    margin: 0 10px; }
  .mainButton {
    margin-top: 20px; }
  .buttonAbout {
    display: block;
    margin: 0 auto; }
  .footer__items {
    flex-direction: column;
    justify-content: center; }
  .footer__left {
    max-width: 90%; }
  .footer__center {
    max-width: 90%; }
  .footer__right {
    max-width: 90%; }
  .copyright {
    padding-top: 30px; }
  .copyright__left {
    /*display: flex;*/ }
  .titleCopyright {
    /*font-size: 14px;*/
    padding-right: 15px; }
  .copyright__right {
    padding-left: 15px; } }

@media screen and (max-width: 486px) {
  .siteSectionTestimonials .sliderDotted .sliderDotted__item {
    margin: 0 5px; }
  .siteSectionTestimonials .sliderDotted .sliderDotted__item-active {
    margin: 0 5px; } }

@media screen and (max-width: 400px) {
  .contact__left {
    width: 49%; }
  .contact__right {
    width: 49%; }
  .contact__item img {
    width: 80%;
    height: auto; } }

/*form input */
/*title */
/*классы с текстами навести порядок+*/
/*left 400, right 560 =960 42% 58%*/
/*width=700 media*/
/******************************/
/***********************************************************/
/*текст*/
/*титул san-serif*/
/*меню serif*/
/*odd нечетный*/
/*even четный*/
