* {
    /*box-sizing: border-box;*/
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.item {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    /*width: 90%;*/
    /*height: 90%;*/
}
.item__square {
    width: 625px;
    height: 625px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*padding: 15px;*/
    /*position: relative;*/
}

.item__square:nth-child(1) {
    background: red;
    /*position: absolute;*/
    position: relative;
    left: 3%;
    z-index: 10;
}
.item__square:nth-child(2) {
    background: #54ff00;
    position: absolute;
    top: 7%;
    left: 40%;
    z-index: 20;
}
.item__square:nth-child(3) {
    background: blue;
    position: absolute;
    top: 75%;
    left: 0;
    z-index: 30;
}
.item__square:nth-child(4) {
    background: yellow;
    position: absolute;
    top: 85%;
    left: 46%;
    z-index: 40;
}
.item__circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: grey;
    margin: 50px;
    /*display: flex;*/
    position: relative;
}
.item__circle--cross::before, .item__circle--cross::after {
    content: '';
    display: block;
    height: 15px;
    bottom: 90px;
    right: 20px;
    background: black;
    position: absolute;
    width: 80%;
}
.item__circle--cross::after {
    transform: rotate(90deg);
}

.item__square:hover {
    z-index: 100;
}
