* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.top__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative; }

.title {
  text-transform: uppercase;
  margin: 30px; }

.clear {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 80%;
  top: 30%; }

.clear i {
  font-size: 30px;
  color: #909090; }

.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg); }

.taskForm {
  width: 210px;
  height: 30px;
  border: none;
  border-bottom: 2px solid lightgrey; }

.button {
  width: 110px;
  height: 40px;
  border: none;
  text-transform: uppercase; }

.button-active {
  background-color: #0097f4;
  color: white; }

.button-active:hover {
  background-color: #096ff4; }

.button-current {
  background: none;
  color: #65a5e9; }

.button-current:hover {
  background-color: #dadada; }

.center__items {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.center__items-top .fas {
  color: grey; }

.center__items-top .dateTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px; }
  .center__items-top .dateTime .fas {
    margin: -10px 0; }

.center__items-top .number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: grey;
  font-size: 16px;
  padding: 10px; }
  .center__items-top .number .fas {
    font-size: 24px;
    margin: -8px 0; }

.center__items-top .tasks {
  background-color: transparent; }

.center__items-top .search {
  border-bottom: 1px solid grey;
  width: 100%;
  height: 100%; }

.center__items-top .filters {
  text-align: center;
  margin: auto 0; }

.center__items-top .separator {
  border: none; }

.dateTime {
  text-align: center;
  min-width: 110px;
  margin: auto 10px; }

.date {
  font-size: 15px;
  font-weight: bold; }

.time {
  font-size: 12px; }

.number {
  min-width: 45px;
  height: 35px;
  background-color: #717171;
  color: white;
  padding: 8px 0;
  margin: auto 10px;
  text-align: center;
  font-size: 15px; }

.scrolling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  color: #0097f4;
  margin: 10px; }

.tasks {
  font-size: 12px;
  width: 190px;
  margin: auto 0;
  padding: 15px 5px;
  background-color: #eeeeee; }

.tasks-bgColor {
  background-color: #82f6fb; }

.filters {
  min-width: 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white; }
  .filters .fas {
    padding: 7px; }
  .filters .filters__left {
    border-radius: 50%;
    background-color: #3f8c3f; }
  .filters .filters__center {
    border-radius: 50%;
    background-color: #0097f4; }
  .filters .filters__right {
    border-radius: 50%;
    background-color: #0097f4; }

.filters .filters__center-bgColor {
  border-radius: 50%;
  background-color: #82f6fb;
  color: black; }

.fas {
  padding: 7px; }

.fa-pencil-alt {
  border-radius: 50%;
  background-color: #3f8c3f; }

.fa-check {
  border-radius: 50%; }

.fa-check-bgColor {
  border-radius: 50%; }

.fa-trash-alt {
  border-radius: 50%;
  background-color: #0097f4; }

.display-none {
  display: none; }

.service {
  position: absolute;
  width: 340px;
  top: 30%;
  left: calc(50% - 170px); }
  .service .button {
    height: 30px; }
  .service .deleteItem {
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 1;
    width: 225px;
    height: 120px;
    background-color: #eeeeee;
    text-align: center;
    padding: 10px;
    border: 1px solid darkgray; }
    .service .deleteItem p {
      margin: 20px; }
    .service .deleteItem .button {
      width: 85px; }
  .service .display-none {
    display: none; }
  .service .edit {
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 1;
    width: 330px;
    height: 160px;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid darkgray; }
    .service .edit p {
      margin: 7px auto 7px auto; }
    .service .edit input {
      width: 270px;
      height: 80px;
      margin: 0 auto; }
    .service .edit .buttons {
      width: 270px;
      display: flex;
      justify-content: space-between;
      margin: 9px auto; }
    .service .edit .button {
      width: 100px; }
