* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none; }

.header {
  background: url("../img/bg1.jpg") no-repeat center top/cover; }

.headerOverlay {
  background: linear-gradient(143deg, rgba(29, 233, 182, 0.7), rgba(0, 184, 212, 0.7));
  width: 100%;
  height: 100%;
  color: rgba(29, 233, 182, 0.82); }

.container {
  max-width: 1400px;
  margin: 0 auto; }

.mainTop {
  margin: 0 10px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #061e37; }

.mainNav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 80px; }

.mainNav__item {
  padding: 0 10px; }

.mainNav__item a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  -webkit-transition: color .3s;
  transition: color .3s; }

.mainNav__item--color a {
  color: black; }

.signButton {
  color: white;
  background: none;
  border: 1px solid white;
  width: 80px;
  height: 25px; }

.signButton:hover {
  color: #061e37;
  background: none;
  border: 1px solid #061e37;
  width: 80px;
  height: 25px; }

.headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  padding: 170px 0 185px 0; }

.headerLeft {
  color: white;
  margin: 0 250px 0 0; }

.headerLeft h1 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: bold;
  margin-top: 30px; }

.headerLeft p {
  line-height: 170%;
  font-size: 14px; }

.mainButton {
  margin: 50px auto 0 auto;
  width: 150px;
  padding: 20px 0;
  border: 2px solid #061e37;
  border-radius: 5px;
  background: #061e37;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px; }

.mainButton:hover {
  color: #061e37;
  background-color: white;
  border: 2px solid white; }

.mainButton--color {
  margin-left: 30px;
  color: #061e37;
  background: white;
  border: 2px solid white; }

.mainButton--color:hover {
  color: white;
  background-color: #061e37;
  border: 2px solid #061e37; }

.headerRight {
  background: url("../img/video_bg.jpg") no-repeat center top/cover;
  min-width: 600px;
  height: 320px;
  border: 1px solid #061e37;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.headerRightOverlay {
  background: rgba(255, 255, 255, 0.79);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.easy {
  margin-top: 50px;
  color: #061e37; }

.easyTop {
  margin: 0 auto;
  text-align: center;
  max-width: 40%; }
  .easyTop h3 {
    margin-top: 15px;
    color: #b0bec5; }
  .easyTop p {
    margin-top: 20px;
    color: #b0bec5; }

.easyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 95px 10px 0 10px; }

.easyCenter__items {
  text-align: center;
  margin-right: 200px; }

.easyCenter__items--margin {
  margin-right: 0; }

.easyCenter__title {
  margin-top: 40px; }

.easyCenter__p {
  margin-top: 20px;
  color: #b0bec5; }

.easyFooter {
  text-align: center;
  margin-top: 80px; }

.mainButton--easy {
  background: #1de9b6;
  border: 1px solid #1de9b6; }

.counts {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.counts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%; }

.counts__items--business {
  background: #80d8ff; }

.counts__items--downloads {
  background: #82b1ff; }

.counts__items--installs {
  background: #b388ff; }

.counts__items--users {
  background: #ea80fc; }

.counts__item {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  margin: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.counts_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: 20px; }

.services {
  margin: 100px 400px 0 400px; }

.services__title {
  text-align: center; }
  .services__title h1 {
    color: #061e37; }
  .services__title p {
    margin-top: 20px;
    color: #b0bec5;
    line-height: 170%; }

.services__items {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  padding: 25px;
  text-transform: uppercase; }

.services__items--active {
  margin-top: 50px; }

.services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .services__top h3 {
    -webkit-box-flex: 8;
        -ms-flex-positive: 8;
            flex-grow: 8;
    padding-left: 15px; }

.services__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none; }
  .services__bottom img {
    margin: 25px 25px 0 0; }

.services__text {
  font-size: 14px;
  line-height: 160%; }
  .services__text p:first-child {
    padding-bottom: 15px; }

.testimonials {
  margin: 100px 0;
  background: url("../img/bg1.jpg") no-repeat center top/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .testimonials img {
    width: 100%;
    height: auto; }

.testimonialsOverlay {
  background: linear-gradient(143deg, rgba(29, 233, 182, 0.7), rgba(0, 184, 212, 0.7));
  width: 100%;
  height: 100%; }

.container--testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }

.testimonials__left {
  color: #fff;
  text-align: start;
  margin-right: 170px;
  width: 40%; }
  .testimonials__left h1 {
    font-size: 34px; }
  .testimonials__left p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 170%; }

.mainButton--testimonials {
  margin: 80px 0 0 0;
  border: 2px solid #061e37;
  background: #061e37;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.mainButton--testimonials:hover {
  color: #061e37;
  background-color: white;
  border: 2px solid white; }

.testimonials__right {
  width: 60%; }
  .testimonials__right .svg {
    text-align: center; }
  .testimonials__right svg {
    margin: 35px 0;
    width: 24px;
    height: 24px;
    fill: white; }

.testimonials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .testimonials__items img {
    max-width: 70px;
    max-height: 70px;
    margin-right: 50px; }

.testimonials__item {
  background: white;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .testimonials__item h3 {
    margin: 35px 0 20px 0;
    font-size: 16px; }
  .testimonials__item p {
    font-size: 12px;
    line-height: 170%; }

.testimonials__items--margin {
  margin-top: 70px; }

.team {
  margin: 100px auto 0;
  max-width: 700px; }

.team__title {
  text-align: center; }
  .team__title h1 {
    color: #061e37; }
  .team__title p {
    margin-top: 30px;
    color: #b0bec5;
    line-height: 170%;
    font-size: 12px; }

.team__scrolling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px; }
  .team__scrolling img {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-right: 30px; }

.team__item {
  text-align: center;
  line-height: 170%;
  font-size: 12px;
  margin-top: 40px; }
  .team__item p:first-child {
    font-size: 14px; }

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px; }
  .team__social img {
    margin: 0 25px 0 0; }

.contact {
  width: 100%;
  background-color: #fafafa; }
  .contact .container {
    max-width: 600px;
    margin: 100px auto 0;
    padding: 100px 0; }
  .contact h1 {
    text-align: center; }
  .contact p {
    margin-top: 30px;
    text-align: center;
    line-height: 170%; }

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__form input {
    width: 240px;
    height: 50px;
    border-radius: 5px;
    margin: 40px 20px 0 0;
    border: 1px solid black; }
  .contact__form .formRight {
    margin: 40px 0 0 0; }
  .contact__form .formArea {
    width: 580px;
    height: 130px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px; }
  .contact__form .contact__form--check {
    width: 20px;
    height: 20px;
    font-size: 12px;
    border: 1px solid black; }
  .contact__form .contactButton {
    width: 130px;
    height: 50px;
    margin: 40px 0 0 0;
    background-color: #1de9b6;
    border: 2px solid #1de9b6; }

.footer {
  max-width: 1400px;
  background-color: #061e37;
  padding-bottom: 110px; }

.footerNav {
  margin: 0; }
  .footerNav .mainNav__item {
    padding: 0 25px; }

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 10px 0 10px; }
  .footer__end .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    color: white; }
    .footer__end .footer__item li {
      margin-right: 20px; }
  .footer__end .footer__social {
    margin: 0; }

@media screen and (max-width: 1366px) {
  .services {
    margin: 100px 145px 0 145px; }

  .container--testimonials {
    margin: 0 10px; } }
@media screen and (max-width: 1280px) {
  .headerLeft {
    margin-right: 40px; }

  .mainButton--color {
    margin-left: 15px; } }
@media screen and (max-width: 1125px) {
  .headerRight {
    min-width: 400px;
    height: 213px; } }

/*# sourceMappingURL=style.css.map */